<div class="column">
    <nav class="panel">
        <p class="panel-heading">Who to follow</p>
    </nav>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://pbs.twimg.com/profile_images/1824002576/pg-railsconf_400x400.jpg">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Paul Graham</strong>
                        <br>
                        <small>@paulg</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

       <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://pbs.twimg.com/profile_images/1432455979837317121/4J0PTun3_400x400.jpg">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>عبدالمهيمن الآغا</strong>
                        <br>
                        <small>@aalagha</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

       <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://pbs.twimg.com/profile_images/1424080335650758656/hT-EqNke_400x400.jpg">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Robert Greene</strong>
                        <br>
                        <small>@RobertGreene</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

</div>